body{overflow:hidden;}
body,input{font-family:"Microsoft YaHei"}
.head,.main{display:none;}
.login_bg{overflow:hidden;position:absolute;top:0;left:0;bottom:0;right:0;z-index:-1;}
.img_login_bg{position:absolute;top:0;left:0;width:100%;height:100%;}
.login_wrap{position:absolute;top:50%;left:50%;margin-left:-450px;margin-top:-270px;height:498px;width:900px;background-color:#f7f7f7;border:1px solid #eee;box-shadow:0 0 10px rgba(0,0,0,0.3),inset 1px 1px 1px white;}
.login_form{position:relative;top:0;float:right;padding:10px 10px 0px 10px;width:400px;border-left:1px solid #eee;}
.login_form input.text{margin:0px;padding-left:36px;padding-right:4px;height:36px;width:300px;outline:none;border:1px solid #ccc;line-height:20px;font-size:18px;vertical-align:middle;}
#icon_usr{margin-top:10px;background:url("/styles/login/user.png") no-repeat,white;}
#icon_pwd{background:url("/styles/login/password.png") no-repeat,white;}
#icon_usr:focus{background:url("/styles/login/user.png") no-repeat,white;border-color:#009bff;}
#icon_pwd:focus{background:url("/styles/login/password.png") no-repeat,white;border-color:#009bff;}
.login_form input.submit{height:36px;width:100px;outline:none;float:right;margin-right:30px;font-size:15px;}
.logo{margin:20px 0px 20px;width:244px;height:96px;background:url("/styles/login/logo.png") no-repeat;}
.login_form p a,.popmenu a{color:#999;text-decoration:none;font-weight:normal;}
.login_form p a:hover,.popmenu a:hover{color:#009bff;}
.login_form .links{float:left;margin-left:30px;margin-top:10px;}
.popmenu{position:absolute;list-style:none;font-size:14px;display:none;border:1px solid #999;padding:0px;margin:5px;}
.popmenu li{background-color:white;padding:2px;}
.popmenu li:hover{background-color:#eee;padding:2px;}
.advance_form{width:100%;}
#advance_opt{margin-left:35px;}
.advance_form p{text-align:left;margin:5px 5px 5px 50px;}
.talking_board{position:relative;overflow-y:auto;overflow:none;top:0px;float:left;width:467px;padding:10px 5px;height:480px;}
iframe.shoutbox{width:100%;height:420px;border:none;top:0;left:0;}
.shbox{position:absolute;bottom:15px;left:15px;}
#hbtext{padding:0px 5px;width:380px;outline:none;border:1px solid #ccc;height:20px;}
#hbtext:focus{border-color:#009bff;}
#footer{position:absolute;text-align:center;overflow:hidden;bottom:0;width:100%;left:0;color:#ccc;font-size:13px;height:50px;}
#footer a{color:#aaa;text-decoration:none;}
#footer div{position:relative;top:5px;font-size:13px;}
a[href="http://www.cnzz.com/stat/website.php?web_id=3740340"]{display:none;}
.submit {
  background-color: #88CD34;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88CD34), color-stop(100%, #70C228));
  background-image: -webkit-linear-gradient(top, #88CD34, #70C228);
  background-image: -moz-linear-gradient(top, #88CD34, #70C228);
  background-image: -ms-linear-gradient(top, #88CD34, #70C228);
  background-image: -o-linear-gradient(top, #88CD34, #70C228);
  background-image: linear-gradient(top, #88CD34, #70C228);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}
.submit:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer;
}
.submit:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}
.message{
	display:block;
}