/* main color scheme: #6258C4; border-bottom color #AAA
 * replace these colors globally if background is changed
 */
body
{
	margin-top: 0px;
	/*background: url(body_bg2.jpg) no-repeat center top ;*/
	background-repeat: no-repeat !important;
	background-attachment: fixed!important;
	margin-bottom: 0px;
	color: #000000;
	font-family: "Segoe UI","微软雅黑", "文泉驿微米黑", "黑体", "Microsoft Yahei", "STHeiti", "Microsoft JhengHei", "SimHei", serif;
	background-color: #e6e6e6;
	-moz-background-size: cover !important;
	background-size: cover !important;
	padding-top: 25px;
	background-image: url(/styles/BambooGreen/1680x1050.jpg);
}
body.inframe
{
	background-image: none;
	background-color: transparent;
}
.logo
{
	color: #ffa531;
	display: none;
}

.logo a:link {
	color: #ffa531;
}

.logo a:visited {
	color: #ffa531;
}

.slogan
{
	color: #de9332;
}
#footer {
	position:relative;
	top: 30px;
	padding-bottom: 60px;
}
table
{
	border-right: medium none;
	border-top: medium none;
	border-left: medium none;
	border-bottom: medium none;
	border-collapse: collapse;
	background-color: transparent

}
table.head
{
	height: 60px;
	width: 982px;
	z-index:999;
	display: block;
	background:url('banner.png') no-repeat;
	margin-top:60px;
}
table.main
{
	border-right: medium none;
	border-top: medium none;
	border-left: medium none;
	border-bottom: medium none;
	background-color: transparent;
}
.space60{
	z-index:0;
}
table.mainouter
{
	width:982px !important;
	position:relative;
	box-shadow: 0px 10px 16px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 10px 16px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 10px 16px rgba(0,0,0,0.4);
	border-collapse:separate;
}
table.message
{
	border:transparent 1px solid;
}
table.bottom
{
	background: none transparent scroll repeat 0% 0%
}


a.info
{
	z-index: 24;
	color: #000;
	position: relative;
	background-color: #ccc;
	text-decoration: none
}
a.info:hover
{
	z-index: 25;
	background-color: #ff0
}
a.info span
{
	display: none
}
a.info:hover span
{
	border-right: #0cf 1px solid;
	border-top: #0cf 1px solid;
	display: block;
	left: 2em;
	border-left: #0cf 1px solid;
	width: 15em;
	color: #000;
	border-bottom: #0cf 1px solid;
	position: absolute;
	top: 2em;
	background-color: #cff;
	text-align: center
}
table.bottom
{
	background: none transparent scroll repeat 0% 0%
}
table.torrentname
{
	background-color: inherit;

}
h1 + p {
	padding-bottom: 1em;
}
h1 + p a b {
	font-weight:normal!important;
}
h2
{
	padding: 5px;
	background-position: left top;
	margin-bottom: 5px;
	font-weight: normal;
	color: white;
}
h2.transparentbg
{
	background-color: transparent;
	background-image: none
}
p.sub
{
	margin-bottom: 4pt
}
td
{
/*	border:1px solid transparent;
	border-right: gray 1px solid transparent;
	border-top: gray 1px solid transparent;
	border-left: gray 1px solid transparent;
	border-bottom: gray  1px solid transparent;*/
	border:1px  solid transparent;


}
td.rowhead[valign=top],td.rowhead_center ,td.rowfollow,td.toolbox{
	border-right: #AAA 1px solid;
	border-top: #AAA 1px solid;
	border-left:#AAA 1px solid;
	border-bottom:#AAA 1px solid;
	background: url("container_bg_light.png") repeat;
}
td.rowhead[align=right],td.rowhead_right{
	border-right: #AAA 1px solid;
	border-left:#AAA 1px solid;
	border-top: #AAA 1px solid;
	border-bottom:#AAA 1px solid;
	background: url("container_bg_light.png") repeat;
}
td.rowhead[align=left],td.rowhead_left{
	border-right: #AAA 1px solid;
	border-left:#AAA 1px solid;
	border-top: #AAA 1px solid;
	border-bottom:#AAA 1px solid;
	background: url("container_bg_light.png") repeat;
}
td.rowhead{
	border-right: #AAA 1px solid;
	border-left:#AAA 1px solid;
	border-top: #AAA 1px solid;
	border-bottom:#AAA 1px solid;
	background: url("container_bg_light.png") repeat;
}
td.embedded
{
	border-right: medium none;
	padding-right: 0px;
	border-top: medium none;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: medium none;
	padding-top: 0px;
	border-bottom: medium none;
	text-align: left
}
td.no_border
{
	border-right: medium none;
	padding-right: 2px;
	border-top: medium none;
	padding-left: 2px;
	padding-bottom: 3px;
	border-left: medium none;
	padding-top: 3px;
	border-bottom: medium none;
	background-color: transparent;
	text-align: left
}
td.no_border_wide
{
	border-right: medium none;
	padding-right: 16px;
	border-top: medium none;
	padding-top: 0px;
	border-left: medium none;
	padding-left: 0px;
	border-bottom: medium none;
	padding-bottom: 0px;
	background-color: transparent;
	text-align: left;
	vertical-align: top;
}
td.shoutrow
{
	border-right: medium none;
	border-top: medium none;
	border-left: medium none;
	border-bottom: medium none;
	background-color: #ffffff
	overflow: hidden;
}
td.bottom
{
	border-right: medium none;
	border-top: medium none;
	border-left: medium none;
	border-bottom: medium none
}
td.heading
{
	font-weight: bold
}
td.outer {
	border-collapse: separate;
}
td.text
{
	padding-right: 10pt;
	padding-left: 10pt;
	padding-bottom: 10pt;
	padding-top: 10pt;
	background: url("container_bg_light.png") repeat;
}
td.text[align=center] {

	padding-right: 0 !important;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	/*padding-top: 5px!important;*/
	padding-top:0 !important;
	background: url("container_bg_light.png") repeat;
	border-top: 1px  solid rgba(255,255,255,0.3);
	border-right: 1px solid transparent;
}
td.headtext
{
	padding-right: 10pt;
	padding-left: 10pt;
	padding-bottom: 10pt;
	padding-top: 0pt
}

td.comment
{
	padding-right: 10pt;
	padding-left: 10pt;
	padding-bottom: 10pt;
	padding-top: 10pt;
	text-align: left
}
td.colhead   /*改了*/
{
	white-space:nowrap;
	font-weight: bold;
	color: #ffffff;
	
	border-right: #AAA 1px solid;
	border-top: #AAA 1px solid;
	border-left:#AAA 1px solid;
	border-bottom:#AAA 1px solid;
}
.nowrap
{
	white-space:nowrap;
}

td.colhead,h2{
	color: #ffffff;
	border-bottom: 1px solid #AAA;
	border-top: 1px solid #AAA;
	border-left:#AAA 1px solid ;
	border-right: 1px solid #AAA;
	background-color: #ECECEC;
	font-size:10pt;
	color:black;
}
td.rowhead_left
{
	text-align: left
}
td.rowhead_center
{
	text-align: center
}
td.rowhead
{
	font-weight: bold;
	vertical-align: top;
	text-align: right
}



table.torrents td.colhead
{
	text-align: center;
}
table.torrents td.rowfollow
{
text-align: center;
}
td.toolbox
{
}
td.title
{


}
	text-align: center;

}

td.navigation
{
	border-right: medium none;
	border-top: medium none;
	font-weight: bold;
	border-left: medium none;
	border-bottom: medium none
}
td.clear
{
	border-right: 0px;
	border-top: 0px;
	background: none transparent scroll repeat 0% 0%;
	border-left: 0px;
	border-bottom: 0px
}
td.nothing
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	background: none transparent scroll repeat 0% 0%;
	padding-bottom: 0px;
	border-left: 0px;
	padding-top: 0px;
	border-bottom: 0px
}
form
{
	margin-top: 0px;
	margin-bottom: 0px
}
.sublink
{
	font-weight: normal;
	font-style: italic
}
font.gray
{
	color: #aca899;
	text-decoration: underline
}
a:link
{
	color: #000000;
	text-decoration: none
}
td.colhead a {
	color: #000000;
}
td.colhead a:hover {
	color: #FFFFFF;
}
a:visited
{
	color: #000000;
	text-decoration: none
}
a:hover
{
	/* TODO */
	color: #777;
}
a.index
{
	font-weight: bold
}
a.biglink
{
	font-weight: bold;
	text-decoration: none
}
a.altlink:link
{
	font-weight: bold;
	color: #a83838;
	text-decoration: none
}
a.altlink:visited
{
	font-weight: bold;
	color: #a83838;
	text-decoration: none
}
a.altlink:hover
{
	text-decoration: underline
}
a.faqlink:link
{
	font-weight: bold;
	color: #a83838;
	text-decoration: none
}
a.faqlink:visited
{
	font-weight: bold;
	color: #a83838;
	text-decoration: none
}
a.faqlink:hover
{
	text-decoration: underline
}
a.altlink_blue:link
{
	font-weight: bold;
	color: #004e98;
	text-decoration: none
}
a.altlink_blue:visited
{
	font-weight: bold;
	color: #004e98;
	text-decoration: none
}
a.altlink_blue:hover
{
	text-decoration: underline
}
a.altlink_green:link
{
	font-weight: bold;
	color: #007800;
	text-decoration: none
}
a.altlink_green:visited
{
	font-weight: bold;
	color: #007800;
	text-decoration: none
}
a.altlink_green:hover
{
	text-decoration: underline
}
.important
{
	font-weight: bold;
}
.red
{
	color: #ee0000
}
.yellow
{
	color: #997700
}
.green
{
	color: #000000
}
.btn2
{
	border-right: #ccc 1px outset;
	padding-right: 2px;
	border-top: #ccc 1px outset;
	padding-left: 2px;
	font-weight: bold;
	background: url(./btnbg.gif) repeat-x left top;
	padding-bottom: 1px;
	border-left: #ccc 1px outset;
	cursor: pointer;
	color: #666;
	padding-top: 1px;
	border-bottom: #ccc 1px outset
}
.btn
{
	border-right: #ccc 1px outset;
	padding-right: 2px;
	border-top: #ccc 1px outset;
	padding-left: 2px;
	font-weight: bold;
	background: url(./btnbg.gif) repeat-x left top;
	padding-bottom: 1px;
	border-left: #ccc 1px outset;
	cursor: pointer;
	color: #666;
	padding-top: 1px;
	border-bottom: #ccc 1px outset
}
.small
{
}
.big
{
}
li
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 16pt
}
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}
img
{
	border: none;
}
img.border
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid
}
.gobutton
{
	background: #476ba2;
	color: #fff
}
.codetop
{
	padding-right: 3px;
	padding-left: 3px;
	font-weight: bold;
	background: url(./code.gif) #f1b000 no-repeat right 50%;
	padding-bottom: 3px;
	margin: 0px auto;
	color: #000;
	padding-top: 3px
}
.codemain
{
	border-right: #000 1px solid;
	padding-right: 3px;
	border-top: #000 1px solid;
	padding-left: 3px;
	background: #fff;
	padding-bottom: 3px;
	margin: 0px auto;
	border-left: #000 1px solid;
	color: #000;
	padding-top: 3px;
	border-bottom: #000 1px solid
}
.dropmenu

{
	background:#F2F9FD none repeat scroll 0 0;
	border:3px solid #A6C9D7;
	margin-top:3px;
	opacity:0.9;
	position:absolute;
	text-align:left;


}
.dropmenu ul

{
	list-style-type: none;
	white-space: nowrap;
	padding:10px;

}
.dropmenu ul li
{
	margin-left: 0px;
	margin-right: 0px;
}
ul.menu

{
	position: relative;
	list-style: none;
	margin-left: 0px;
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	white-space: nowrap;
	left: 0px;

}
ul#mainmenu
{
	text-align: center;
	width: auto;
}

ul.menu li
{
	display: inline;
	margin-left: 0px;
	margin-right: 0px;

}
ul.menu li a

{
	padding:11px 5px 10px 5px;
	color: #2d2b2b;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	line-height:20px;
	display: inline-block;
	margin-right:5px;
}
ul.menu li a:link
{
	color: #fff;
}
ul.menu li a:visited

{
	color: #fff;
}
ul.menu li a:active

{
	color: #2d2b2b;
}

ul.menu li.selected a,ul.menu li a:hover
{
	background-color: #4FA8B0;

	color: white;

}
.shadetabs
{
	width: 100%;
	float:right;
}
.shadetabs ul
{
	display: inline-block;
	margin-left: 0px;
	margin-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 3px;
	width: 100%;
	list-style-type: none;
	text-align: center;
}
.mainouter tbody tr:first-child td.text .shadetabs ul {
	text-align: left!important;
}
.shadetabs b
{
	display: inline;
	font-weight: normal;
	font-style: normal;
	position: relative;
}
.shadetabs b a
{
	display: inline-block;
	padding: 7px  10px 4px 10px; 
	margin: 0px;
	height: 22px;
	/*border-bottom: white 2px solid;*/
	min-width: 45px;
	font-size: 15px!important;
	text-align: center;
	vertical-align: text-bottom;
	text-decoration: none;
}
.shadetabs b[name=menu] {
	position:relative;
	bottom:-1px;
}
/*
.shadetabs b[name=menu] a:hover {
	color: white;
}
*/
.shadetabs b[name=menu].selected a{
	color: black!important;
}
.shadetabs b.selected a
{
	color: #777;
}
.shadetabs b[name=menu].selected a:hover {
	color: #777!important;
}
.shadetabs b.selected
{
	line-height: normal;
	font-style: normal;
	position: relative;
}
.shadetabs b.selected a
{
	background: white;
}

.shadetabs b.selected a:hover
{
	text-decoration: none;
}
.listitem
{
	margin-left: 10px;
	margin-right: 5px
}
.StaffLeader_Name{color: #8b0000 }
A.StaffLeader_Name:link{color: #8b0000 }
A.StaffLeader_Name:visited{color: #8b0000 }

.SysOp_Name{color: #a0522d }
A.SysOp_Name:link{color: #a0522d }
A.SysOp_Name:visited{color: #a0522d }

.Administrator_Name{color: #4b0082 }
A.Administrator_Name:link{color: #4b0082 }
A.Administrator_Name:visited{color: #4b0082 }

.Moderator_Name{color: #6495ED }
A.Moderator_Name:link{color: #6495ED }
A.Moderator_Name:visited{color: #6495ED }

.Warehouse_Name{color: #18C58C }
A.Warehouse_Name:link{color: #18C58C }
A.Warehouse_Name:visited{color: #18C58C }

.Uploader_Name{color: #DC143C }
A.Uploader_Name:link{color: #DC143C }
A.Uploader_Name:visited{color: #DC143C }

.Helper_Name{color: #82A604 }
A.Helper_Name:link{color: #82A604 }
A.Helper_Name:visited{color: #82A604 }

.Coder_Name{color: #D08A73 }
A.Coder_Name:link{color: #D08A73 }
A.Coder_Name:visited{color: #D08A73 }

.Forummod_Name{color: #AF014B }
A.Forummod_Name:link{color: #AF014B }
A.Forummod_Name:visited{color: #AF014B }

.VIP_Name{color: #009F00 }
A.VIP_Name:link{color: #009F00 }
A.VIP_Name:visited{color: #009F00 }

.NexusMaster_Name{color: #38ACEC }
A.NexusMaster_Name:link{color: #38ACEC }
A.NexusMaster_Name:visited{color: #38ACEC }

.UltimateUser_Name{color: #006400 }
A.UltimateUser_Name:link{color: #006400 }
A.UltimateUser_Name:visited{color: #006400 }

.ExtremeUser_Name{color: #FF8C00 }
A.ExtremeUser_Name:link{color: #FF8C00 }
A.ExtremeUser_Name:visited{color: #FF8C00 }

.VeteranUser_Name{color: #483D8B }
A.VeteranUser_Name:link{color: #483D8B }
A.VeteranUser_Name:visited{color: #483D8B }

.InsaneUser_Name{color: #8B008B }
A.InsaneUser_Name:link{color: #8B008B }
A.InsaneUser_Name:visited{color: #8B008B  }

.CrazyUser_Name{color: #00BFFF }
A.CrazyUser_Name:link{color: #00BFFF }
A.CrazyUser_Name:visited{color: #00BFFF }

.EliteUser_Name{color: #008B8B }
A.EliteUser_Name:link{color: #008B8B }
A.EliteUser_Name:visited{color: #008B8B }

.PowerUser_Name{color: #DAA520 }
A.PowerUser_Name:link{color: #DAA520 }
A.PowerUser_Name:visited{color: #DAA520 }

.User_Name{color: #000000 }
A.User_Name:link{color: #000000 }
A.User_Name:visited{color: #000000 }

.Peasant_Name{color: #708090 }
A.Peasant_Name:link{color: #708090 }
A.Peasant_Name:visited{color: #708090 }

.color_bonus{color: #1900d1}
.color_invite{color: #1900d1}
.color_slots{color: white}
.color_downloaded{color: #8b0000}
.color_uploaded{color: #008000}
.color_ratio{color: white}
.color_active{color: white}
.color_connectable{color: white}




.free{color:#f0cc00}
.twoup{color:#aaaaaa}
.twoupfree{color:#99cc66}
.halfdown{color:#7c7ff6}
.d30down{color:#ff00ff}
.d70down{color:#989609}
.free_bg{background-color:#ffff99}
.twoup_bg{background-color:#dddddd}
.twoupfree_bg{background-color:#ccff99}
.halfdown_bg{background-color:#cccdf8}
.d30down_bg{background-color:#ffaec9}
.d70down_bg{background-color:#efe4b0}
.hot{color:#e78d0f}
.classic{color:#77b300}
.recommended{color:#820084}
.new{color:#ff0000}
.striking{color:#ff0000}



#scrollbar{
-moz-border-radius:0px !important;
-webkit-border-radius:0px !important;
border-radius:0px !important;
background-color:white;
-moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.4)!important;
-webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.4)!important;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4)!important;
}

.snatched_no_no   { background-color: #ffb6c1; }
.snatched_yes_no  { background-color: #add8e6; }
.snatched_no_yes  { background-color: #90ee90; }
.snatched_yes_yes { background-color: #32cd32; }

#userbar{
	background:url(container_bg.png);
	height:26px;
	position:fixed;
	top:0;
	left:0;
	z-index: 20090504;
	font-size:16px;
	width:100%;
	color:white !important;
	border-bottom:1px solid rgba(0, 0, 0, 0.2);
}
#userbar span a{
	color:white;
}
#userbar td{
	padding:0 10px;
}
#userbar span{
	padding:5px;
}
ul.hoverlist{
	display:none;
	position:absolute;
	top:25px;
	margin:0;
	padding:0 2px;
	color:white;
	list-style-type:none;
	background:url(container_bg_light.png);
}
ul.hoverlist li{
	margin:0 auto;
	border-bottom:transparent 2px solid;
}
ul.hoverlist li:first-child {
	border-top:transparent 2px solid;
}
ul.hoverlist li a{
	display:block;
	color:white;
	text-align:center;
	background:url(container_bg.png);
	padding:5px;
	height:16px;
}
ul.hoverlist li a:hover {
	background-color:#777;
}
#adminbarlink,#usermsglink{
	cursor: default;
	position:relative;
}
span#adminbarlink:hover  ul{
	display:block;
	right:0;
	width:100px;
}
span#usermsglink:hover  ul{
	display:block;
	left:0;
	padding:3px 2px;
	background:url(container_bg.png);
	width:120px;
}

.bgBtn{
	width:14px;
	height:14px;
	vertical-align:bottom;
	/*padding:1px;*/
	border:2px solid transparent;
}

#bgDiv{
	width:405px;
}
#bgDiv h2{
	background:#ddd;
	color:#7D7D7D;
	font-weight:bold;
	margin-bottom:5px;
}
#bgDiv img{
	padding:5px;
}

.shoutrow {
	overflow: hidden;
}

.nobr {
	white-space: nowrap;
}

img.avatar {
	width: 150px;
	max-height: 300px;
}


.shoutboxother{
	height: 580px;
	border: none;
	width: 545px;
	padding: 10px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	-ms-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}
.shoutboxother td{
	border: none !important;
}
.shoutboxother div#shboxShowDiv{
	height:430px;
}
img.smilies {
	vertical-align: top;
}


.login_bg{overflow:hidden;position:absolute;top:0;left:0;bottom:0;right:0;z-index:-1;}
.img_login_bg{position:absolute;top:0;left:0;width:100%;height:100%;}
.login_wrap{position:absolute;top:50%;left:50%;margin-left:-450px;margin-top:-270px;height:498px;width:900px;background-color:#f7f7f7;border:1px solid #eee;box-shadow:0 0 10px rgba(0,0,0,0.3),inset 1px 1px 1px white;}
.login_form{position:relative;top:0;float:right;padding:10px 10px 0px 10px;width:400px;;}
.login_form input.text{margin:0px;padding-left:36px;padding-right:4px;height:36px;width:300px;outline:none;border:1px solid #ccc;line-height:20px;font-size:15px;vertical-align:middle;}
input.text2{margin:0px;padding-left:10px;padding-right:4px;height:40px;width:170px;outline:none;border:1px solid #ccc;line-height:20px;font-size:15px;vertical-align:middle;}
#left{width:150px;height:40px;padding-left:30px;float:left; }
#right{width:200px;height:40px;padding-left:150px;float:}
#icon_usr{margin-top:10px;background:url("/styles/login/user.png") no-repeat,white;}
#icon_pwd{background:url("/styles/login/password.png") no-repeat,white;}
#icon_usr:focus{background:url("/styles/login/user.png") no-repeat,white;border-color:#009bff;}
#icon_pwd:focus{background:url("/styles/login/password.png") no-repeat,white;border-color:#009bff;}
.login_form input.submit{height:36px;width:100px;outline:none;float:right;margin-right:30px;font-size:15px;}
.login_logo{margin:20px 0px 20px;width:244px;height:96px;background:url("/styles/login/logo.png") no-repeat;}
.login_form p a,.popmenu a{color:#999;text-decoration:none;font-weight:normal;}
.login_form p a:hover,.popmenu a:hover{color:#009bff;}
.login_form .links{float:left;margin-left:30px;margin-top:10px;}
.popmenu{position:absolute;list-style:none;font-size:14px;display:none;border:1px solid #999;padding:0px;margin:5px;}
.popmenu li{background-color:white;padding:2px;}
.popmenu li:hover{background-color:#eee;padding:2px;}
.advance_form{width:100%;}
#advance_opt{margin-left:35px;}
.advance_form p{text-align:left;margin:5px 5px 5px 50px;}
.talking_board{position:relative;overflow-y:auto;overflow:none;top:0px;float:left;width:467px;padding:10px 5px;height:480px;}
iframe.shoutbox{width:100%;height:420px;border:none;top:0;left:0;}
.shbox{position:absolute;bottom:15px;left:15px;}
#hbtext{padding:0px 5px;width:380px;outline:none;border:1px solid #ccc;height:20px;}
#hbtext:focus{border-color:#009bff;}
.submit {
  background-color: #88CD34;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88CD34), color-stop(100%, #70C228));
  background-image: -webkit-linear-gradient(top, #88CD34, #70C228);
  background-image: -moz-linear-gradient(top, #88CD34, #70C228);
  background-image: -ms-linear-gradient(top, #88CD34, #70C228);
  background-image: -o-linear-gradient(top, #88CD34, #70C228);
  background-image: linear-gradient(top, #88CD34, #70C228);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}
.submit:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer;
}
.submit:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}
.message{
	display:block;
}